$footer-background-color: #212240;
$footer-text-color: #ffffff;
$footer-height: 4.6875em;
$footer-padding: 0.8em;

.footer {
  align-items: center;
  background: $footer-background-color;
  color: $footer-text-color;
  display: flex;
  height: $footer-height;
  justify-content: space-between;
  opacity: 0.9;
  padding: $footer-padding;
}

.footerIcon {
  margin: 0 4px;
}
