$font-family: 'Open Sans', sans-serif;
$border-profile-color: #cccccc;
$picture-profile-width: 150px;
$profile-color: #000000;

.container {
  border: 1px solid $border-profile-color;
  font-family: $font-family;
  margin-top: 10px;
  overflow: auto;
  padding: 20px;
}

.picture {
  float: left;
  margin-right: 10px;
  width: $picture-profile-width;
}

.title {
  align-items: center;
  color: $profile-color;
  display: flex;
  font-size: 2rem;
  height: 150px;
}
